{% extends "::base.html.twig" %}

{% block title %}ApwBlackbullBundle:Categories:createCategory{% endblock %}

{% block body %}
<h1>Welcome to the Categories:createCategory page</h1>

    {# rende l'unico campo: description #}
    <div>
        {{ form_label(form.categoryDescription) }}
        {{ form_errors(form.categoryDescription) }}
        {{ form_widget(form.categoryDescription) }}
    </div>
    <div>
        {{ form_label(form.categoriesImage) }}
        {{ form_errors(form.categoriesImage) }}
        {{ form_widget(form.categoriesImage) }}
    </div>
    <div>
        {{ form_label(form.sortOrder) }}
        {{ form_errors(form.sortOrder) }}
        {{ form_widget(form.sortOrder) }}
    </div>
    {{ form_row(form.save) }}



{% endblock %}
